.matrix {
    display: grid;
    grid-template-columns: repeat(5, 5vh);
    grid-gap: 2vh;
    justify-items: center;
    justify-content: center;
    padding: 4vh 10vh 10vh;
}

.matrix__cell {
    background-color: inherit;
}
